[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
hdbcli = "==2.8.16"
itsdangerous = "==1.1.0"
pytz = "==2021.1"
uuid = "==1.30"
"zope.interface" = "==5.4.0"
Flask = "==1.1.2"
Flask-HTTPAuth = "==4.2.0"
DateTime = "==4.3"
MarkupSafe = "==1.1.1"
Jinja2 = "==2.11.3"
Werkzeug = "==1.0.1"

[requires]
python_version = "2.7"

[dev-packages]
